In [ ]:
import pandas as pd
import typing
from IPython.display import display, Markdown

In [ ]:
def Explore(path : str, name : str):
    df = pd.read_csv(path)
    display(Markdown(name))
    display(Markdown("---"))
    display(df.head(5))
    display(Markdown("### Data Shape"))
    display(df.shape)    
    display(Markdown("### Data Types"))
    display(df.dtypes)    
    display(Markdown("### Missing Values"))
    display(df.isnull().sum().sort_values(ascending=False))      

    # Compute unique values per column
    unique_values = [df[col].nunique() for col in df.columns]
    # Conver to dataframe for easy viewing
    unique_values_df = pd.DataFrame({'Columns' : df.columns, 'Unique Values Count': unique_values})

    display(Markdown("### Unique Values"))
    display(unique_values_df.sort_values(by=unique_values_df.columns[1], ascending=False).head(len(unique_values_df)))
    display(Markdown("### Numeric Data Types Descriptive Statistics"))
    display(df.describe())

Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_customers_dataset.csv", "## Olist Customers Dataset")

## Olist Customers Dataset

---

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

### Data Shape

(99441, 5)

### Data Types

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

### Missing Values

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### Unique Values

                    Columns  Unique Values Count
0               customer_id                99441
1        customer_unique_id                96096
2  customer_zip_code_prefix                14994
3             customer_city                 4119
4            customer_state                   27

### Numeric Data Types Descriptive Statistics

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

- olist customers dataset tracks unique customers relative to the other datasets.
- customer_id is the only column which is unique per row making it the best candidate for the table's primary key in the database.

In [4]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_geolocation_dataset.csv", "## Olist Geological Dataset")

## Olist Geological Dataset

---

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

### Data Shape

(1000163, 5)

### Data Types

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

### Missing Values

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

### Unique Values

                       Columns  Unique Values Count
2              geolocation_lng               717613
1              geolocation_lat               717360
0  geolocation_zip_code_prefix                19015
3             geolocation_city                 8011
4            geolocation_state                   27

### Numeric Data Types Descriptive Statistics

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

- Olist geological dataset provide GIS data (latitude, longitude) which can be used to find nearest points for further analysis.

In [29]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_order_items_dataset.csv", "## Olist Order Items Dataset")

## Olist Order Items Dataset

---

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

### Data Shape

(112650, 7)

### Data Types

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

### Missing Values

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

### Unique Values

               Columns  Unique Values Count
0             order_id                98666
4  shipping_limit_date                93318
2           product_id                32951
6        freight_value                 6999
5                price                 5968
3            seller_id                 3095
1        order_item_id                   21

### Numeric Data Types Descriptive Statistics

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

- (order_id, order_item_id) uniquely identifies each item in an order.

In [6]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_order_payments_dataset.csv", "## Olist Order Payments Dataset")

## Olist Order Payments Dataset

---

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

### Data Shape

(103886, 5)

### Data Types

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

### Missing Values

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

### Unique Values

                Columns  Unique Values Count
0              order_id                99440
4         payment_value                29077
1    payment_sequential                   29
3  payment_installments                   24
2          payment_type                    5

### Numeric Data Types Descriptive Statistics

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [28]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_order_reviews_dataset.csv", "## Olist Order Reviews Dataset")

## Olist Order Reviews Dataset

---

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

### Data Shape

(99224, 7)

### Data Types

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

### Missing Values

review_comment_title       87656
review_comment_message     58247
review_id                      0
review_score                   0
order_id                       0
review_creation_date           0
review_answer_timestamp        0
dtype: int64

### Unique Values

                   Columns  Unique Values Count
1                 order_id                98673
0                review_id                98410
6  review_answer_timestamp                98248
4   review_comment_message                36159
3     review_comment_title                 4527
5     review_creation_date                  636
2             review_score                    5

### Numeric Data Types Descriptive Statistics

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

- Olist order reviews data stores unique reviews per order where review_id fits the role for primary key best.

In [ ]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_orders_dataset.csv", "## Olist Orders Dataset")

## Olist Orders Dataset

---

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

### Data Shape

(99441, 8)

### Data Types

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

### Missing Values

order_delivered_customer_date    2965
order_delivered_carrier_date     1783
order_approved_at                 160
order_id                            0
order_purchase_timestamp            0
order_status                        0
customer_id                         0
order_estimated_delivery_date       0
dtype: int64

### Unique Values

                         Columns  Unique Values Count
0                       order_id                99441
1                    customer_id                99441
3       order_purchase_timestamp                98875
6  order_delivered_customer_date                95664
4              order_approved_at                90733
5   order_delivered_carrier_date                81018
7  order_estimated_delivery_date                  459
2                   order_status                    8

### Numeric Data Types Descriptive Statistics

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-08-02 12:05:26,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 19:36:48,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

- This table contains unique orders and relates them to customers and tracks the order from purchase to delivery.

In [10]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_products_dataset.csv", "## Olist Products Dataset")

## Olist Products Dataset

---

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

### Data Shape

(32951, 9)

### Data Types

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

### Missing Values

product_category_name         610
product_description_lenght    610
product_name_lenght           610
product_photos_qty            610
product_weight_g                2
product_height_cm               2
product_length_cm               2
product_width_cm                2
product_id                      0
dtype: int64

### Unique Values

                      Columns  Unique Values Count
0                  product_id                32951
3  product_description_lenght                 2960
5            product_weight_g                 2204
7           product_height_cm                  102
6           product_length_cm                   99
8            product_width_cm                   95
1       product_category_name                   73
2         product_name_lenght                   66
4          product_photos_qty                   19

### Numeric Data Types Descriptive Statistics

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

- This table tracks unique products and their features

In [20]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_sellers_dataset.csv", "## Olist Sellers Dataset")

## Olist Sellers Dataset

---

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

### Data Shape

(3095, 4)

### Data Types

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

### Missing Values

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

### Unique Values

                  Columns  Unique Values Count
0               seller_id                 3095
1  seller_zip_code_prefix                 2246
2             seller_city                  611
3            seller_state                   23

### Numeric Data Types Descriptive Statistics

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

- Olist seller dataset provides data for unique sellers and seller_id fits the role of primary key best.

In [24]:
Explore(r"D:\local-git-repos\brazillian-ecommerce-analysis\product_category_name_translation.csv", "## Product Category Name Translation Dataset")

## Product Category Name Translation Dataset

---

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

### Data Shape

(73, 2)

### Data Types

product_category_name            object
product_category_name_english    object
dtype: object

### Missing Values

product_category_name            0
product_category_name_english    0
dtype: int64

### Unique Values

                         Columns  Unique Values Count
0          product_category_name                   73
1  product_category_name_english                   73

### Numeric Data Types Descriptive Statistics

       product_category_name product_category_name_english
count                     73                            73
unique                    73                            73
top             beleza_saude                 health_beauty
freq                       1                             1

- Product category name translation converts names from portuguese to english, product_category_name fits the role of primary key

In [14]:
# Load CSVs
products = pd.read_csv(r"D:\local-git-repos\brazillian-ecommerce-analysis\olist_products_dataset.csv")
translations = pd.read_csv(r"D:\local-git-repos\brazillian-ecommerce-analysis\product_category_name_translation.csv")


# Get unique category names from each
product_categories = set(products["product_category_name"].dropna().unique())
translated_categories = set(translations["product_category_name"].dropna().unique())

# Find missing ones
missing_categories = product_categories - translated_categories

print(missing_categories)

{'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'}

The code above was prompted by a lack of 2 values in the primary key table when adding data using sql, after discovering this 2 values missing I then added them manually to the csv file.